<h1>It's time to play: Battle!</h1>


<% if @game.current_turn == @game.player_1 %>
<%=@game.player_1.name%> has attacked <%=@game.player_2.name%>
<% else %>
<%=@game.player_2.name%> has attacked <%=@game.player_1.name%>
<% end %>

<p> Current points: 
<ul>
<li><%=@game.player_1.name%>: <%=@game.player_1.points%>HP </li>
<li><%=@game.player_2.name%>: <%=@game.player_2.points%>HP </li>
</ul>
</p> 



<p> Press the switch button to switch turns </p>
<form action="/switch_turns" method="POST">
<button>Switch</button>
</form>